@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit";
    src: url("./Outfit-VariableFont_wght.ttf");
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}